body{
    background-color: #DAF7A6;
    background-image: url("./img.png");
    background-repeat: repeat-x;
    background-size: 4%;
}
#pokepixel{
  margin-top: 35px;
  margin-left: 250px;
  margin-right: 250px;
  border: 75px solid pink;
  border-image-source: url("./TagSitrus.png");
  border-image-repeat: round;
  border-image-width: 1;
  
}
@font-face {
    font-family: 'Pokemon';
    src: url("./pokemon.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
 }

#pokemon{
padding-bottom: 50px;
padding-left: 5%;
height: 175px;
width: auto;
}

input {
    text-align: center;
    width: 50px;
    
}
div.main_div {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    text-align: center; 
    padding-top: 5%;
    font-size: 15px;
    font-family: 'Pokemon';
}
#contador{
    margin-left: 45%;
    width: 150px;
}
#perfil{
    width: 50px;
    height: 50px;
    border-style: solid;
    border-radius: 55px;
    margin-left: 25px;
    margin-right: 25px;
}

#subastado{
    margin-top: 50px;
    margin-left: 820px;
    height: auto;
    width: 200px;
}
