body{
    background-color:  #DAF7A6 ;
    background-image: url("./img.png");
    background-repeat: repeat-x;
    background-size: 4%;
}
#usuario{
    margin-left: 10px;
    margin-top: 100px;
    font-family: 'Pokemon';
    display: flex;
}
table{
    margin-left: 75px;
}
tr,th{
    background-color: #88a7a0;
    border-style: solid;
}
#equipo{
    width: 175px;
    height: auto;
}
#fotoperfil{
    border-style: solid;
    border-radius: 55px;
    height: auto;
    width: 150px;
}
#pokepixel{
  margin-top: 35px;
  margin-left: 250px;
  margin-right: 250px;
  border: 75px solid pink;
  border-image-source: url("./TagSitrus.png");
  border-image-repeat: round;
  border-image-width: 1;
  
}
@font-face {
    font-family: 'Pokemon';
    src: url("./pokemon.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
 }

#pokemon{
padding-bottom: 50px;
padding-left: 5%;
height: 175px;
width: auto;
}

input {
    text-align: center;
    width: 50px;
    
}
div.main_div {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    text-align: center; 
    padding-top: 5%;
    font-size: 15px;
    font-family: 'Pokemon';
}
#contador{
    font-size: 30px;
    margin-left: 45%;
    width: 150px;
    border-radius: 10px;
}
#contador1{
    border-radius: 10px;
    font-size: 190%;
    width: 80px;
}
#perfil{
    width: 90px;
    height: 90px;
    border-style: solid;
    border-radius: 55px;
    margin-left: 25px;
    margin-right: 25px;
}

#subastado{
    margin-top: 50px;
    margin-left: 820px;
    height: auto;
    width: 200px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
