/*---Proyecto Cuak---*/
/*---Estilo*/
@font-face {
    font-family: 'Papernotes Sketch';
    src: url("Papernotes Sketch.ttf") format("truetype");
}

html {
    background-color: #e5e5f7;
    background-image: linear-gradient(#444cf7 2px, transparent 2px), linear-gradient(90deg, #444cf7 2px, transparent 2px), linear-gradient(#444cf7 1px, transparent 1px), linear-gradient(90deg, #444cf7 1px, white 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}


body.overflow {
    overflow: hidden;
}

body.overflow2 {
    overflow-x: hidden;
}

/*---Fondo*/
div.fondo {
    background: url("img/Anillas_Cuaderno.png") repeat-y;
    position: absolute;
    min-height: 100vh;
    width: 100%;
}

/*Fondo---*/

/*---Encabezado*/
.portada {
    text-align: center;
}

.div_titulo {
    display: flex;
    justify-content: center;
}

.titulo {
    margin-top: 15px;
    align-items: center;
    font-family: Papernotes Sketch;
    font-size: 50px;
    color: black;
    font-weight: bold;
}

.subtitulo {
    margin-top: -10px;
    padding-bottom: 20px;
    font-family: Papernotes Sketch;
    font-size: 40px;
    color: black;
}

h2.subtitulo {
    margin-top: -25px;
    padding-bottom: 20px;
    font-family: Papernotes Sketch;
    font-size: 35px;
    color: black;
}

.psyduck {
    padding-top: 3px;
    padding-left: 1%;
    height: 70px;
    width: auto;
}

/*Portada---*/

/*---Menu*/
#menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu ul li {
    background-image: url("./img/pizarra.jpg");
    background-size: 100% 100%;
    width: 225px;
    text-align: center;
    margin-top: -26px;
}

#menu ul a {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: 400px;
    font-size: 20px;
    padding: 10px;
    font-family: Papernotes Sketch;
    letter-spacing: 1px;
    transition: all 0.6s;
}

#menu ul li {
    position: relative;
    float: left;
    color: white;
    transition: all 0.4s;
}

#menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #eee;
    padding: 0;
}

#menu ul ul li {
    float: none;
    width: 150px;
}

#menu ul ul a {
    line-height: 120%;
    padding: 10px 15px;
}

/*Menu---*/

/*---Submenu*/
.menu_menu {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px,1fr));
    margin-left: 10vw;
    margin-right: 10vw;
}

.submenu_img {
    margin-right: 10%;
    margin-top: 2%;
    height: 70px;
    width: auto;
    border-radius: 75%;
    border: black 5px solid;
    background-color: black;
}


.submenu {
    margin-left: 5vw;
    transition: all 1s;
    margin-top: 4%;
    justify-content: center;
    display: flex;
    color: white;
    background-image: url("img/pizarra.jpg");
    background-size: 100% 100%;
    width: 20vw;
    height: 5vw;
    border-radius: 5px;
}

.submenu_name {
    text-align: center;
    font-size: 35px;
    font-family: Papernotes Sketch;
}

.submenu_link {
    color: white;
    text-decoration: none;
}

/*Submenu---*/

/*---Imagen de urgot */
#foto_urgot {
    margin-top: -20px;
    width: 70%;
}

#div_urgot {
    text-align: center;
    flex-wrap: wrap;
}

/*Imagen de urgot---*/

/*---Pokemon*/
.div_equipos_pokemon {
    text-align: center;
    padding-top: 3%;
}

.PokeEquipo_Img {
    width: 350px;
    height: auto;
}

/*---Dentro del equipo*/
#tablapoke {
    padding-left: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Pokemon_Texto {
    font-weight: bold;
    font-family: Papernotes Sketch;
    font-size: 30px;
    color: black;
    margin: -5px;
}

.pokemon_sprite {
    width: 7vw;
    height: auto;
}

.Pokemon_img {
    margin-left: 15%;
    padding-bottom: 2%;
    width: 200px;
    height: auto;
}

.ConjuntoPokemon {
    padding: 2%;
}

/*Dentro del equipo---*/
/*Pokemon---*/

/*---League of Legend*/

.builds_img {
    padding-top: 15px;
    margin-left: 29%;
    width: 40%;
    height: auto;
}

#videos_div {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 5%;
}

.video_lol {
    padding-bottom: 5%;
    width: 12cm;
    height: 7cm;
}

fieldset,
.nombre_videos {
    background-image: url("./img/pizarra.jpg");
    margin-bottom: 5%;
    font-size: 25px;
    border: 0ch;
    color: white;
    font-family: Papernotes Sketch;
}

/*League Of Legend---*/

/*---VideoJuegos*/
.Juegos_img {
    transition: all 1s 0s ease;
    margin-left: 30%;
    width: 160px;
    height: 250px;
    padding-bottom: 2%;
    padding-top: 2%;
}

.Juegos_img:hover {
    transform: scale(1.5);
    border-radius: 7mm;

}

.Nombre_juegos {
    padding-left: 3%;
    text-align: center;
    font-family: Papernotes Sketch;
    font-size: 25px;
    color: black;
    font-weight: bold;
}


#Listado_Juegos {
    padding-top: 1%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

.div_tipo_juego {
    text-align: center;
    padding-top: 10px;
    justify-content: center;
}

.tipo_juego {
    font-family: Papernotes Sketch;
    font-size: 40px;
    color: black;
    font-weight: bold;
}

/*VideoJuegos---*/

/*---WeedKipedia*/

#boton_oculto {
    margin-left: 47%;
}

.weed {
    margin-top: 10%;
    height: 35px;
    width: 35px;
}

.weed_img {
    transition: all 1s 0s ease;
    margin-left: 30%;
    width: auto;
    height: 250px;
    border: 15px solid transparent;
    border-image: url("./img/marco.png") 30 stretch;
    animation: brillo 15s 0s linear infinite;
}

.Nombre_weed {
    padding-left: 30%;
    font-family: Papernotes Sketch;
    font-size: 25px;
    color: black;
    font-weight: bold;
}

.weed_img:hover {
    transform: scale(1.5);
    border: 16px solid transparent;
    border-image: url("./img/marco.png") 30 stretch;
}

@keyframes brillo {
    0% {
        filter: brightness(1);
    }

    20% {
        filter: brightness(1);
    }

    30% {
        filter: brightness(1.25);
    }

    40% {
        filter: brightness(1);
    }

    50% {
        filter: brightness(1);
    }

    60% {
        filter: brightness(1);
    }

    80% {
        filter: brightness(1);
    }

    90% {
        filter: brightness(1);
    }

    100% {
        filter: brightness(1);
    }
}

/*WeedKipedia---*/

/*---Caracteristicas Responsive */
/*--- Tablet */

@media (max-width: 1290px) {

    body.overflow {
        overflow: hidden;
    }
    
    body.overflow2 {
        overflow-x: hidden;
    }

    .submenu {
        width: 50%;
        height: 90%;
        padding-right: 10px;
        margin-left: 90px;
    }

    .submenu_name {
        display: none;
    }

    .submenu_img {
        width: auto;
        height: 70px;
        margin-left: 15px;
    }

    .Nombre_juegos {
        margin-left: 15%;
    }

    .menu_menu{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {

    .titulo{
        padding-left: 10%;
        font-size: 35px;
    }

    .subtitulo {
        padding-left: 50px;
        margin-top: -3%;
        font-size: 25px;
    }

    .psyduck{
        padding-top: 3px;
        padding-left: 3%;
        height: 50px;
        width: auto;
    }

    #menu ul {
        display: grid;
        justify-content: center;
        list-style: none;
        padding-left: 75px;
        margin-top: -50px;
        grid-template-columns: repeat(2, 1fr);
    }

    #menu ul li {
        background-image: url("./img/pizarra.jpg");
        background-size: 100% 100%;
        width: 130px;
        height: 40px;
        text-align: center;
        margin-top: 20px;
    }

    #menu ul a {
        display: block;
        color: white;
        text-decoration: none;
        font-weight: 400px;
        font-size: 15px;
        padding: 10px;
        font-family: Papernotes Sketch;
        letter-spacing: 1px;
        transition: all 0.6s;
    }

    #foto_urgot {
        margin-top: -20px;
        margin-left: 20px;
        width: 105%;
    }

    #div_urgot {
        text-align: center;
        flex-wrap: wrap;
    }

    .tipo_juego{
        font-size: 35px;
        padding-left: 15%;
    }

    .Juegos_img {
        margin-left: 35%;
        width: 150px;
    }

    .Nombre_juegos {
        margin-top: -5%;
        margin-left: 15%;
        font-size: 25px;
    }

    #Listado_Juegos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    #videos_div {
        justify-items: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 5%;
    }
    .menu_menu{
        grid-template-columns: repeat(1, 1fr);
    }
    
    #videos_div {
        justify-items: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 5%;
        padding-left: 75px;
        width: 75%;
    }
    
    .video_lol {
        padding-bottom: 5%;
        width: 250px;
        height: 150px;
    }
    
    fieldset,
    .nombre_videos {
        background-image: url("./img/pizarra.jpg");
        margin-bottom: 5%;
        font-size: 25px;
        border: 0ch;
        color: white;
        font-family: Papernotes Sketch;
    }
}

/*tablet---*/
/*Caracteristicas Responsive---*/