@font-face {
    font-family: 'pkretro';
    src: url("./pkretro.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
 }
body {
    background-color: rgb(32, 32, 32);
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,1)), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    background-size: 100% 100%, 11px 11px, 11px 11px, 11px 5px;
    background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;
    flex-wrap: wrap;
    min-width: 250px;
    }
.portada{
    display: flex;
    justify-content: center;
}

#titulo{
    padding-top: 15px;
    font-family: pkretro;
    font-size: 30px;
    color: white;
}
#subtitulo{
    padding-top: 15px;
    font-family: pkretro;
    font-size: 20px;
    color: white;
    margin-left: 34%;
}
.imagenes{
    padding-left: 10px;
    height: 70px;
    width: auto;
}
.menu{
    display: flex;
    justify-content: center;
}
*{margin:0;padding: 1px;;box-sizing:border-box;font-size:0;}  
nav a{
      text-decoration:none;
      color:inherit;
      font-size:15px;
      font-family: pkretro;
      }
 
nav ul{
    padding-top: 25px;
    display: flex;
    justify-content: center;
}

nav li{
      display:inline-block;
      justify-content: center;
      width:350px;
      height:30px;
      padding:5px 10px;
      background-color:#000;
      border:1px solid #000;
      text-align:center;
      color:#fff;
      position:relative;
}
            
nav li:hover{
      background-color:#fff;
      color:#000;
      }
            
nav li>ul{
      display:none;
      }

nav li:hover>ul{
      display:block;
      position:absolute;
      top:6px;
      left:0px;
}
#urgot{
    padding-left: 350px;
    margin-top: -7px;
    width: 83%;
    height: auto;
}
.builds{
    padding-top: 15px;
    margin-left: 29%;
    width: 40%;
    height: auto;
}
